{% extends "layouts/dashboard.html" %}

{% block dashboard_content %}

<h2 class="mb-4">
    Dashboard
</h2>

<div class="row">

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>Total Documents</h6>

                <h2>0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>Invoices</h6>

                <h2>0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>Receipts</h6>

                <h2>0</h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}