{% extends 'layouts/base.html' %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-8">

<div class="card shadow">

<div class="card-body">

<h3>

Company Setup

</h3>

<hr>

<form>

<div class="mb-3">

<label>

Company Name

</label>

<input class="form-control">

</div>

<div class="mb-3">

<label>

Phone

</label>

<input class="form-control">

</div>

<div class="mb-3">

<label>

Email

</label>

<input class="form-control">

</div>

<div class="mb-3">

<label>

Logo

</label>

<input type="file"
       class="form-control">

</div>

<button class="btn btn-primary">

Continue

</button>

</form>

</div>

</div>

</div>

</div>

{% endblock %}