body{

background:#f5f7fb;

font-family:
Inter,
Segoe UI,
sans-serif;

height:100vh;

overflow:hidden;

}

.auth-container{

display:flex;

height:100vh;

}

.auth-left{

width:45%;

background:

linear-gradient(
135deg,
#021024,
#0A1F44,
#163E9F
);

padding:60px;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

position:relative;

overflow:hidden;

}

.auth-left h1{

font-size:52px;

font-weight:700;

margin-bottom:20px;

}

.auth-left p{

font-size:18px;

opacity:.85;

}

.brand{

font-size:38px;

font-weight:700;

margin-bottom:60px;

}

.feature{

display:flex;

gap:20px;

margin-top:35px;

}

.feature i{

font-size:30px;

color:#4F8BFF;

}

.auth-right{

width:55%;

display:flex;

align-items:center;

justify-content:center;

background:white;

}

.login-card{

width:480px;

padding:20px;

}

.login-card h2{

font-weight:700;

margin-bottom:15px;

}

.form-control{

height:54px;

border-radius:12px;

}

.btn-login{

height:54px;

border:none;

border-radius:12px;

font-weight:600;

background:

linear-gradient(
90deg,
#2563EB,
#1D4ED8
);

}

.btn-login:hover{

opacity:.9;

}

.logo{

font-size:42px;

font-weight:800;

}

.logo span{

color:#2B6DFF;

}